.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.die {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
  margin: 0;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.credits {
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.me-text:hover {
  color: #9c060c;
  transition-duration: 0.3s;
}

.me {
  text-decoration: none;
}

.refresh {
  color: #EEEEEE;
  display: inline-block;
  margin: 5% 0 3% 0;
  font-size: 25px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  background-color: #4ECCA3;
  padding: 10px 24px;
  border-radius: 100px;
  text-decoration: none;
} 
.refresh:hover {
  background-color: #9c060c;
  transition-duration: 0.3s;
}
